In [1]:
from datetime import datetime
import pandas as pd
import os

In [172]:
# !pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   --------- ------------------------------ 61.4/250.0 kB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 225.3/250.0 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 2.2 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: C:\Users\sjmad\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
def calculate_age(dob):
    # Convert the date of birth string to a datetime object
    dob=str(dob)
    dob_date = datetime.strptime(dob, '%d-%b-%y')
    
    # Get the current date
    current_date = datetime.now()
    
    # Calculate the age
    
    x=dob_date.year
    y=current_date.year
    if(x>y):
        x=x-100
    
    age = y - x - ((current_date.month, current_date.day) < (dob_date.month, dob_date.day))
    
    return age

In [3]:
def convert_height_to_cm(height):
    # Split the height string into feet and inches
    height=str(height)
    feet, inches =  height.split("'")
    inches=inches[:-1]
    # Convert feet and inches to total inches
    total_inches = int(feet) * 12 + int(inches)

    # Convert total inches to centimeters (1 inch = 2.54 cm)
    cm = total_inches * 2.54

    return cm

In [4]:
data=pd.read_csv('data.csv')

In [5]:
# print(data[data['Date of Birth'].isna()])

In [6]:
data.dropna(subset=['Date of Birth'],inplace=True)

In [154]:
print(data['Date of Birth'].isna().sum())

0

In [7]:
data

,Community,Caste Preference,Religion,First Name,Last Name,Jotform Link,Height,Date of Birth,City,State,Country,E-mail,Gender,Location Preference,Ancestral Origin,Religion Preference,Additional Details (you want them to know),Submission Date,Submission ID
0,Mudiraj,NaN,Hindu,First_1,Last_1,https://www.jotform.com/pdf-view/afb1cab,"5' 3""",15-Feb-91,Atlanta,GA,United States,email@first1,Male,NaN,Hyderabad,Hindu,I am a very ambitious guy. I like to travel an...,12-May-23,5.600000e+18
1,REDDY,NaN,Hindu,First_2,Last_2,https://www.jotform.com/pdf-view/afb1cab,"5' 8""",18-Feb-94,Dallas,Texas,United States,email@first2,Male,NaN,Adoni,Hindu,NaN,12-May-23,5.600000e+18
2,KAMMA,NaN,Hindu,First_3,Last_3,https://www.jotform.com/pdf-view/afb1cab,"5' 11""",17-Oct-96,Boston,MA,United States,email@first3,Male,NaN,NaN,Hindu,NaN,12-May-23,5.600000e+18
3,MALA,NaN,NaN,First_4,Last_4,https://www.jotform.com/pdf-view/afb1cab,"5' 6""",6-Aug-91,Philadelphia,Pennsylvania,United States,email@first4,Male,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18
4,REDDY,NaN,Hindu,First_5,Last_5,https://www.jotform.com/pdf-view/afb1cab,"5' 7""",23-Aug-95,Scanton,Pennsylvania,United States,email@first5,Male,NaN,"Miryalaguda, Nalgonda district. Settled in Hyd...",Hindu,NaN,12-May-23,5.600000e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,REDDY,Reddy,NaN,First_604,Last_604,https://www.jotform.com/pdf-view/afb1cab,"6' 1""",10-Jan-95,Novi,Michigan,NaN,email@first604,Male,Reddy,"Lemoor, Kandukur madal, Ranga Reddy, Telangan,...",NaN,NaN,25-Oct-22,5.430000e+18
604,LAMBADI,NaN,Hindu,First_605,Last_605,https://www.jotform.com/pdf-view/afb1cab,"6' 0""",24-Jun-92,Dallas,Texas,United States,email@first605,Male,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18
605,MALA,NaN,NaN,First_606,Last_606,https://www.jotform.com/pdf-view/afb1cab,"5' 2""",19-Feb-97,Atlanta,Georgia,NaN,email@first606,Female,SC Mala,NaN,NaN,I believe marriages are made in heaven because...,27-Jan-23,5.510000e+18
606,MALA,NaN,NaN,First_607,Last_607,https://www.jotform.com/pdf-view/afb1cab,"5' 7""",19-Feb-95,Atlanta,Georgia,NaN,email@first607,Male,SC Mala,NaN,NaN,I believe marriages are made in heaven because...,27-Jan-23,5.510000e+18
607,LAMBADI,NaN,Hindu,First_608,Last_608,https://www.jotform.com/pdf-view/afb1cab,"5' 3""",24-Jun-94,Dallas,Texas,United States,email@first608,Female,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18

In [8]:
data['Community']=data['Community'].apply(str.upper)

In [9]:
data['Religion'].fillna('any',inplace=True)
data['Religion']=data['Religion'].apply(str.upper)

In [10]:
data

,Community,Caste Preference,Religion,First Name,Last Name,Jotform Link,Height,Date of Birth,City,State,Country,E-mail,Gender,Location Preference,Ancestral Origin,Religion Preference,Additional Details (you want them to know),Submission Date,Submission ID
0,MUDIRAJ,NaN,HINDU,First_1,Last_1,https://www.jotform.com/pdf-view/afb1cab,"5' 3""",15-Feb-91,Atlanta,GA,United States,email@first1,Male,NaN,Hyderabad,Hindu,I am a very ambitious guy. I like to travel an...,12-May-23,5.600000e+18
1,REDDY,NaN,HINDU,First_2,Last_2,https://www.jotform.com/pdf-view/afb1cab,"5' 8""",18-Feb-94,Dallas,Texas,United States,email@first2,Male,NaN,Adoni,Hindu,NaN,12-May-23,5.600000e+18
2,KAMMA,NaN,HINDU,First_3,Last_3,https://www.jotform.com/pdf-view/afb1cab,"5' 11""",17-Oct-96,Boston,MA,United States,email@first3,Male,NaN,NaN,Hindu,NaN,12-May-23,5.600000e+18
3,MALA,NaN,ANY,First_4,Last_4,https://www.jotform.com/pdf-view/afb1cab,"5' 6""",6-Aug-91,Philadelphia,Pennsylvania,United States,email@first4,Male,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18
4,REDDY,NaN,HINDU,First_5,Last_5,https://www.jotform.com/pdf-view/afb1cab,"5' 7""",23-Aug-95,Scanton,Pennsylvania,United States,email@first5,Male,NaN,"Miryalaguda, Nalgonda district. Settled in Hyd...",Hindu,NaN,12-May-23,5.600000e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,REDDY,Reddy,ANY,First_604,Last_604,https://www.jotform.com/pdf-view/afb1cab,"6' 1""",10-Jan-95,Novi,Michigan,NaN,email@first604,Male,Reddy,"Lemoor, Kandukur madal, Ranga Reddy, Telangan,...",NaN,NaN,25-Oct-22,5.430000e+18
604,LAMBADI,NaN,HINDU,First_605,Last_605,https://www.jotform.com/pdf-view/afb1cab,"6' 0""",24-Jun-92,Dallas,Texas,United States,email@first605,Male,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18
605,MALA,NaN,ANY,First_606,Last_606,https://www.jotform.com/pdf-view/afb1cab,"5' 2""",19-Feb-97,Atlanta,Georgia,NaN,email@first606,Female,SC Mala,NaN,NaN,I believe marriages are made in heaven because...,27-Jan-23,5.510000e+18
606,MALA,NaN,ANY,First_607,Last_607,https://www.jotform.com/pdf-view/afb1cab,"5' 7""",19-Feb-95,Atlanta,Georgia,NaN,email@first607,Male,SC Mala,NaN,NaN,I believe marriages are made in heaven because...,27-Jan-23,5.510000e+18
607,LAMBADI,NaN,HINDU,First_608,Last_608,https://www.jotform.com/pdf-view/afb1cab,"5' 3""",24-Jun-94,Dallas,Texas,United States,email@first608,Female,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18

In [11]:
data['Age']=data['Date of Birth'].apply(calculate_age)

In [12]:
# d=data[['Community','Height','E-mail','Gender','Age','Jotform Link']]
d=data

In [13]:
d['Gender']=d['Gender'].apply(str.upper)

In [15]:
d['Height'].fillna("0'0\"",inplace=True)

In [16]:
d['Height']=d['Height'].apply(convert_height_to_cm)

In [17]:
print(list(d.columns))

['Community', 'Caste Preference', 'Religion', 'First Name', 'Last Name', 'Jotform Link', 'Height', 'Date of Birth', 'City', 'State', 'Country', 'E-mail', 'Gender', 'Location Preference', 'Ancestral Origin', 'Religion Preference', 'Additional Details (you want them to know)', 'Submission Date', 'Submission ID', 'Age']

In [18]:
women=d[d['Gender']=='FEMALE']

In [19]:
women

,Community,Caste Preference,Religion,First Name,Last Name,Jotform Link,Height,Date of Birth,City,State,Country,E-mail,Gender,Location Preference,Ancestral Origin,Religion Preference,Additional Details (you want them to know),Submission Date,Submission ID,Age
5,REDDY,Telugu,HINDU,First_6,Last_6,https://www.jotform.com/pdf-view/afb1cab,162.56,6-Oct-90,Houston,TX,United States,email@first6,FEMALE,NaN,Hanamkonda,Hindu,I am divorced(2014) due to abusive marriage,12-May-23,5.600000e+18,33
8,VELAMA,Velama,HINDU,First_9,Last_9,https://www.jotform.com/pdf-view/afb1cab,165.10,14-Dec-96,Visakhapatnam,Andhra Pradesh,India,email@first9,FEMALE,USA,Visakhapatnam,Hindu,H1-b Approved,12-May-23,5.600000e+18,27
11,VELAMA,NaN,HINDU,First_12,Last_12,https://www.jotform.com/pdf-view/afb1cab,162.56,2-Apr-96,Dallas,Tx,United States,email@first12,FEMALE,NaN,Nalagonda,Hindu,NaN,11-May-23,5.600000e+18,27
14,KAMMA,Kamma/Chowdary/Reddy,HINDU,First_15,Last_15,https://www.jotform.com/pdf-view/afb1cab,175.26,12-Apr-93,Durham,North Carolina,United States,email@first15,FEMALE,East coast,"Ongole, Prakasam dst",Hindu,NaN,9-May-23,5.590000e+18,30
15,KAMMA,NaN,HINDU,First_16,Last_16,https://www.jotform.com/pdf-view/afb1cab,170.18,3-Feb-94,Austin,Texas,United States,email@first16,FEMALE,NaN,Chittoor,Hindu,NaN,8-May-23,5.590000e+18,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,KAMMA,Kamma,ANY,First_595,Last_595,https://www.jotform.com/pdf-view/afb1cab,160.02,6-Aug-93,Charlotte,NC,NaN,email@first595,FEMALE,Kamma,Khammam,NaN,NaN,9-Jan-23,5.490000e+18,30
598,KAPU,Kapu naidu,ANY,First_599,Last_599,https://www.jotform.com/pdf-view/afb1cab,165.10,6-Oct-94,Hyderabad,Telengana,NaN,email@first599,FEMALE,Kapu naidu,Tenali andhra pradesh,NaN,NaN,7-Dec-22,5.460000e+18,29
600,BESTHA,NaN,ANY,First_601,Last_601,https://www.jotform.com/pdf-view/afb1cab,175.26,20-May-94,North Brunswick,New Jersey,NaN,email@first601,FEMALE,Besta,Karimnagar,NaN,NaN,6-Dec-22,5.460000e+18,29
605,MALA,NaN,ANY,First_606,Last_606,https://www.jotform.com/pdf-view/afb1cab,157.48,19-Feb-97,Atlanta,Georgia,NaN,email@first606,FEMALE,SC Mala,NaN,NaN,I believe marriages are made in heaven because...,27-Jan-23,5.510000e+18,27
607,LAMBADI,NaN,HINDU,First_608,Last_608,https://www.jotform.com/pdf-view/afb1cab,160.02,24-Jun-94,Dallas,Texas,United States,email@first608,FEMALE,NaN,NaN,NaN,NaN,12-May-23,5.600000e+18,29

In [21]:
men=d[d['Gender']=='MALE']

In [22]:
lst=os.listdir("./women")
for i,w in women.iterrows():
    
    id=str(w['E-mail'])+'.xlsx'
    dt=pd.DataFrame(columns=list(d.columns))
   # print(dt)
    if id in lst:
        dt=pd.read_excel(f'./women/{id}')
        dt.reset_index(drop=True,inplace=True)
    rm=men[(men['Height']>=w['Height'])&(men['Community']==w['Community'])&((men['Religion']==w['Religion'])|(w['Religion']=='ANY'))]
    cnt=0

    for j,m in rm.iterrows():
       # print(dt['E-mail'])
        if(cnt>=4):
            break
        if((m['E-mail'] not in list(dt['E-mail'])) and cnt<5):
            dt.loc[len(dt.index)]=m
            cnt=cnt+1
    
    dt.to_excel(f'./women/{id}',index=False)